*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;
  color: white;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}

.page {
  padding-top: 72px ;
  width: 1083px;
  margin: 0 auto;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 64px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: 700;
  color: #00BFA6;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 101px 0 157px;
}

span {
  font-weight: 700;
  color: #00BFA6;
}

section {
  width: 614px;
  text-align: center;
}

section h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

section p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #C2C2C2;

  width: 604px;

  margin-top: 59px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.line {
  width: 568px;
  border: 1px solid #00BFA6;
}

.lock {
  position: fixed;
  bottom: 0;
  left: 0;
}